@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="card">
            <div class="col-md-4 card-body">
                <h2 class="card-title">Выбор запроса</h2>
                <br />
                <a id="acity" href="/city/location" class="card-link">Поиск в списке метоположений</a>
                <br /><br />
                <a id="aip" href="/ip/location" class="card-link">Поиск гео-информации по IP</a>
            </div>
        </div>

        <div class="col-md-8" id="dv">
            <h2>Поиск в списке метоположений</h2>

            <form id="frm" method="get">
                <div class="form-group">
                    <label class="control-label sr-only" for="cityorip"></label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                        <input type="text" class="form-control" id="cityorip" name="cityorip" list="cities" placeholder="Введите название города" />
                    </div>
                </div>
                <datalist id=cities style="display: none">
                    <option value="Erabara Ytaciz"></option>
                    <option value="Alig Ma Oz"></option>
                    <option value="Elevyryvari"></option>
                    <option value="Uqoced"></option>
                    <option value="Yb Ryjyp Sebysew"></option>
                </datalist>

                <div class="form-group">
                    <label class="control-label sr-only" for="output"></label>
                    <textarea class="form-control" id="output" rows="12" readonly></textarea>
                </div>

                <button class="btn btn-primary active" type="submit" id="btnSubmit">Искать <span class="glyphicon glyphicon-send"></span></button>
            </form>
        </div>
    </div>
</div>
